<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration debug="true">
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<springProperty scope="context" name="appName" source="app.name" defaultValue="APP" />
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>